.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredient_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 536px;
}

.drag_button {
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 24px;
  margin-right: 8px;
}

.is_dragging {
  opacity: 0.1;
}

.ingredient_item {
  display: flex;
  justify-content: end;
  width: 100%;
}

.is_over_replace {
  border: 2px dashed #4c4cff;
}
