.ingredient_image_wrapper_container {
  margin-right: -16px;
  padding: 2px;
  background: linear-gradient(90deg, #801ab2 0%, #4c4cff 100%);
  border-radius: 50%;
}

.ingredient_image_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: var(--background);
  border: 2px solid transparent;
  border-radius: 50%;
}

.ingredient_image {
  height: 64px;
}

.ingredient_cuted_number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.orders_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 608px;
  height: calc(100vh - 175px);
  padding-right: 8px;
  overflow-y: auto;
}

.order_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  background-color: var(--background);
  border-radius: 40px;
  cursor: pointer;
}

.number_and_date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ingredients_and_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  display: flex;
  gap: -20px;
  margin-bottom: 20px;
}

.order_price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.no_orders {
  color: var(--text-secondary);
  text-align: center;
}

.status_done {
  color: var(--colors-interface-success);
}
